/* section 1 */

* {
    font-family: 'Quicksand', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

body {
    background: #00B285;
    height: 100%;
}

.s1 {
    height: 100vh;
}

/* background */

.skewed-bg {
    background-color: #222;
    transform: skew(0deg, -9deg);
    padding: 200px 0;
    margin-top: -200px; 
}

.skewed-content {
    transform: skew(0deg, 9deg)
}

/* navbar */

.navbar-brand {
    font-size: 1.5rem;
}

.nav_div_ul {
    font-size: 1.25rem;
}

.nav-link:hover {
    color: #fff !important;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.w{
    color: rgb(12, 191, 65);
}

/* content */

.content {
    color: #fff;
}

.span1_1 {
    color: #EFB92A;
}

.div_content {
    color: lightblue;
}

._09c {
    color: #EFB92A;
}